<link rel="import" href="../wizard/view.html">
<link rel="import" href="../wizard/step.html">
<link rel="import" href="../services/http/request.html">
<link rel="import" href="../ui-elements/inputs/ssn-input.html">
<link rel="import" href="../ui-elements/inputs/date-input.html">
<link rel="import" href="../ui-elements/inputs/email-input.html">
<link rel="import" href="../ui-elements/inputs/number-input.html">
<dom-module id="onboard-content">
    <style>
        .header-offset {
            margin-top: 27px;
        }
        .term-title {
            margin-top: 10px;
        }
        .has-error .form-control {
            border-color: #ed5565;
        }
    </style>
    <template>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins loan-summary">
                    <div class="ibox-title">
                        <h1>Onboard New Loan</h1>
                    </div>
                    <div class="ibox-content">
                        <wizard-view id="wizard" wizard-name="onboarding" wizard-step-index="{{currentStepIndex}}" wizard-step-count="4">
                            
                            <wizard-step wizard-title="Loan Information">
                                <div class="form-group">
                                    <h5><strong>Loan Number</strong></h5>
                                    <input step-id="loanNumber" type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <h5><strong>Funding Source</strong></h5>
                                    <input step-id="fundingSource" type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <h5><strong>Purpose</strong></h5>
                                    <select step-id="loanPurpose" name="purpose" class="form-control" required>
                                        <option value=""></option>
                                        <template is="dom-repeat" items="{{loanPurposes}}" as="purpose">
                                            <option value="{{purpose}}">{{formatPurpose(purpose)}}</option>
                                        </template>
                                    </select>
                                </div>
                            </wizard-step>
                            
                            <wizard-step wizard-title="Basic Information">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Borrower ID</strong></h5>
                                        <input type="text" step-id="borrowerId" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h5><strong></strong>Address Line 1</h5>
                                                <input step-id="line1" type="text" class="form-control" required>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5><strong></strong>Line 2</h5>
                                                <input step-id="line2" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-5 form-group">
                                                <h5><strong>First Name</strong></h5>
                                                <input step-id="firstName" class="form-control" type="text" required>
                                            </div>
                                            <div class="col-lg-2 form-group">
                                                <h5><strong>MI</strong></h5>
                                                <input step-id="middleInitial" class="form-control" type="text" required>
                                            </div>
                                            <div class="col-lg-5 form-group">
                                                <h5><strong>Last Name</strong></h5>
                                                <input step-id="lastName" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row header-offset">
                                            <div class="col-lg-5 form-group">
                                                <input step-id="city" class="form-control" type="text" placeholder="City" required>
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <select step-id="state" class="form-control" required>
                                                    <option value=""></option>
                                                    <template is="dom-repeat" items="{{states}}" as="state">
                                                        <option step-id="{{state}}">{{state}}</option>
                                                    </template>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 form-group">
                                                <number-input step-id="zipCode" input-placeholder="ZIP" required></number-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>SSN</strong></h5>
                                        <ssn-input step-id="ssn" sensitive required></ssn-input>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Primary Phone Number</strong></h5>
                                        <select step-id="phoneType" class="form-control" required>
                                            <option value=""></option>
                                            <option value="home">Home</option>
                                            <option value="mobile">Mobile</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Date of Birth</strong></h5>
                                        <date-input required step-id="dateOfBirth"></date-input>
                                    </div>
                                    <div class="col-lg-6 header-offset">
                                        <number-input required step-id="phoneNumber" input-type="phone"></number-input>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5><strong>E-mail</strong></h5>
                                        <email-input step-id="email" required></email-input>
                                    </div>
                                </div>
                            </wizard-step>
                            
                            <wizard-step wizard-title="Bank Info/Loan Terms">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Bank Name</strong></h5>
                                        <input step-id="bankName" type="text" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Loan Amount</strong></h5>
                                        <number-input required step-id="loanAmount" input-type="currency"></number-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Account Number</strong></h5>
                                        <number-input required step-id="accountNumber"></number-input>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h5><strong>Origination Date</strong></h5>
                                                <date-input required step-id="originationDate"></date-input>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Term</strong></h5>
                                                <number-input step-id="term"></number-input>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5><strong>Payment Method</strong></h5>
                                                <select step-id="paymentMethod" class="form-control" required>
                                                    <option value=""></option>
                                                    <option value="ach">ACH</option>
                                                    <option value="check">Check</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <h5><strong>Routing Number</strong></h5>
                                        <number-input required step-id="routingNumber"></number-input>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h5><strong>Rate</strong></h5>
                                                <number-input step-id="rate"></number-input>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5><strong>Rate Type</strong></h5>
                                                <select step-id="rateType" class="form-control" required>
                                                    <option value=""></option>
                                                    <option value="percent">Percent</option>
                                                    <option value="factor">Factor</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5><strong>Account Type</strong></h5>
                                        <select step-id="accountType" class="form-control" required>
                                            <option value=""></option>
                                            <option value="checking">Checking</option>
                                            <option value="savings">Savings</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 term-title">
                                        <h1>Fees</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h5><strong>Name</strong></h5>
                                                <input step-id="feeName" type="text" class="form-control">
                                            </div>
                                            <div class="col-lg-4">
                                                <h5><strong>Type</strong></h5>
                                                <select step-id="feeType" class="form-control" >
                                                    <option value=""></option>
                                                    <option value="percent">Percent</option>
                                                    <option value="factor">Factor</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                <h5><strong>Amount</strong></h5>
                                                <number-input step-id="feeAmount" input-type="currency"></number-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </wizard-step>
                            
                            <wizard-step wizard-title="Finish">
                                <h1>Verify Your Loan Information</h1>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td>
                                                <span step-id="firstName"></span>
                                                <span step-id="middleInitial"></span>
                                                <span step-id="lastName"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Purpose</td>
                                            <td step-id="loanPurpose"></td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>
                                                <div step-id="line1"></div>
                                                <div step-id="line2"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td step-id="phoneNumber"></td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td step-id="dateOfBirth"></td>
                                        </tr>
                                        <tr>
                                            <td>E-mail</td>
                                            <td step-id="email"></td>
                                        </tr>
                                        <tr>
                                            <td>SSN</td>
                                            <td step-id="ssn"></td>
                                        </tr>
                                        <tr>
                                            <td>Term (<span step-id="termType"></span>)</td>
                                            <td step-id="term"></td>
                                        </tr>
                                        <tr>
                                            <td>Rate (<span step-id="rateType"></span>)</td>
                                            <td step-id="rate"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </wizard-step>
                        </wizard-view>
                        
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "onboard-content",
            attached: function() {
                this.loanPurposes = window.config.onboarding.LoanPurpose;
                this.firstPurpose = this.loanPurposes[0];
                this.states = ["AL", "AK", "AS", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FM", "FL", "GA", "GU", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MH", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "MP", "OH", "OK", "OR", "PW", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VI", "VA", "WA", "WV", "WI", "WY"];
                
                var wizardName = $(this.$.wizard).attr("wizard-name");
                this.$.wizard.addEventListener('submit:' + wizardName, this.submitWizard.bind(this));   
            },
            properties: {
                currentStepIndex: {
                    type: Number,
                    notify: true
                }
            },
            formatPurpose: function(purpose) {
                var result = "";
                for (var i = 0; i < purpose.length; i++) {
                    var letter = purpose[i];
                    if (letter.toUpperCase() === letter && i !== 0) {
                        result += " ";
                    }
                    result += letter;
                }
                return result;
            },
            submitWizard: function(e) {
                // Data from wizard form
                // TODO complete submit form, eg double check required fields like
                // e-mail, address line1, address line2,
                // termAmount termName into feeAmount feeName
                var self = this;
                
                var w = e.detail;
                var loanInfo = {
                    ReferenceNumber: w.loanNumber,
                    FundingSource: w.fundingSource,
                    Purpose: w.loanPurpose,
                    borrowers: [{
                        referenceNumber: w.borrowerId,
                        firstName: w.firstName,
                        middleInitial: w.middleInitial,
                        lastName: w.lastName,
                        dateOfBirth: w.dateOfBirth,
                        email: w.email,
                        ssn: w.ssn,
                        isPrimary: true,
                        phones: [{
                            number: self.cleanPhone(w.phoneNumber),
                            type: w.phoneType,
                            isPrimary: true
                        }],
                        addresses: [{
                            line1: w.line1,
                            line2: w.line2,
                            city: w.city,
                            state: w.state,
                            zipCode: w.zipCode,
                            isPrimary: true
                        }]
                    }],
                    terms: {
                        LoanAmount: w.loanAmount,
                        OriginationDate: w.originationDate,
                        Term: w.term,
                        Rate: w.rate,
                        rateType: w.rateType,
                        fees: [{
                        }],
                        paymentMethod: w.paymentMethod,
                        bankInfo: {
                            RoutingNumber: w.routingNumber,
                            AccountNumber: w.accountNumber,
                            AccountType: w.accountType
                        }
                    }
                }
                self.$.http.post('/onboard', [loanInfo], window.config.services.loan,
                function(data) {
                    self.$.wizard.resetWizard();
                }, function(err) {
                    console.log(err);
                })
            },
            cleanPhone: function(number) {
                return number.replace(/([\(\)\ \-])/g, "");
            }
        });
    </script>
</dom-module>