<dom-module id="onboard-sidebar">
    <style>
    </style>
    <template>
        <div class="ibox">
            <div class="ibox-content">
                <h1>Step: <span>{{currentStepIndex}}</span></h1>
                <div>Currently viewing step <span>{{currentStepIndex}}</span></div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "onboard-sidebar",
            properties: {
                currentStepIndex: {
                    type: Number,
                    notify: true
                }
            }
        });
    </script>
</dom-module>