<link rel="import" href="/components/test/app-selector.html">
<dom-module id="test-view">
    <style>
    </style>
    <template>
        <app-selector app-id="test-component" app-layout="test-layout"></app-selector>
        <app-selector app-id="test-app" app-layout="test-layout"></app-selector>
    </template>
    <script>
        Polymer({
            is: "test-view"
            
        });
    </script>
</dom-module>