.border-radius (@radius: 3px) {
 -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
     opacity: @opacity;
}

// Custom
// Use mixins for browser compatibility when passing in arguments
// Use extends for static styling

// .Zoom(@zoom) {
//   zoom: unit(@zoom, ~"%"); /* IE */
//   -moz-transform: scale(@zoom / 100); /* Firefox */
//   -moz-transform-origin: 0 0;
// }