// Basic Colors
@navy: #88BF40;       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color
@green: #1c9246;


// Various colors
@text-color: #676a6c;   // Body text
@gray: #f3f3f4;         // Background wrapper color
@light-gray: #D1DADE;   // Default label, badget
@label-badget-color: #5E5E5E;
@light-blue:#f3f6fb;

// Spiner color and margin
@spin-color: @navy;
@spin-margin: 0 auto;


// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg:#ffffff;     // IBox Background header
@ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
@sidebar-width: 190px;

// Boxed layout width
@boxed-width: 1200px;
@boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-active:#fff;
@nav-bg: #2F4050;
@nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
@nav-text-color: #a7b1c2;

@primary-lf-green: #88bf40;
@light-lf-green: #CCDCB7;
@dark-lf-green: #199448;
@global-font: 11px;