<link rel="import" href="/components/core/services/config.html">
<dom-module id="alloy-tenant">
    <style>

    </style>
    <template>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
    </template>
    <script>
        (function () {
            var Tenant = function () {
                this.is = "alloy-tenant";
                this.observers = ["getTenantInformation(configReady)"];
                this.properties = {
                    alloyTenant: {
                        type: Object,
                        notify: true
                    },
                    tenantSet: {
                        type: Boolean,
                        notify: true
                    }
                };
                this.setTitle = function () {
                    var titleText = '';
                    if (window.config.titleText) {
                        titleText = window.config.titleText;
                    }
                    else {
                        titleText = window.tenant.name;
                    }
                    $(document).prop('title', titleText);
                };
                this.getTenantInformation = function (configReady) {
                    var self = this;
                    if (!configReady) { return }

                    var tenantSet = Tenant.prototype.tenantRetrieved;
                    if (tenantSet) {
                        window.tenant = self.alloyTenant = Tenant.prototype.tenant;
                        self.tenantSet = tenantSet;
                        self.setTitle();
                        return;
                    }

                    self.$.config.getConfigService("tenant", function (tenantInformation) {
                        window.tenant = Tenant.prototype.tenant = self.alloyTenant = tenantInformation;
                        Tenant.prototype.tenantRetrieved = true;
                        self.setTitle();
                    });
                }
            }

            Tenant.prototype.tenantRetrieved = false;

            var tenant = new Tenant();
            Polymer(tenant);
        })();
    </script>
</dom-module>