<link rel="import" href="service.html">
<link rel="import" href="catalog.html">
<link rel="import" href="codeMirror.html">
<link rel="import" href="error-reporter.html">
<link rel="import" href="modal-content/changing.html">
<link rel="import" href="modal-content/saving.html">
<link rel="import" href="modal-content/testing.html">
<link rel="import" href="modal-content/deleting.html">
<link rel="import" href="modal-content/previewing.html">
<link rel="import" href="modal-content/publishing.html">
<link rel="import" href="modal-content/unpublishing.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/ui-elements/custom-modal.html">
<link rel="import" href="/components/ui-elements/activities/activity.html">
<link rel="import" href="/components/ui-elements/activities/dynamo-activity.html">
<link rel="import" href="/components/ui-elements/activities/activity-list.html">
<dom-module id="rules-view">
    <style>
        h3.e-builder {
            display: inline-block;
        }
        .btn-group .btn:not([hidden]):last-of-type {
            border-left: 1px #64A510 solid;
        }
        .btn-group .btn:not([hidden]):first-of-type,
        .btn-group .btn:not([hidden]):nth-of-type(2) {
            border-right: 1px #64A510 solid;
            margin-right: 0;
        }
        .common span {
            font-size: 12px;
            border: 1px #ECECEC solid;
            border-top: 1px;
            padding: 10px 20px 10px;
        }
        .common {
            font-size: 0;
            padding: 10px 0;
        }
        .sidebar {
            position: absolute;
            right: 0;
            padding: 10px 20px;
            background: #ebebed;
            bottom: 0;
            top: 0;
        }
        activity-list {
            position: relative;
            top: 10px;
        }
        .btn-group {
            margin: 0;
        }
        #save-menu {
            position: absolute;
            right: 92px;
            top: 52px;
            z-index: 1;
        }
        #save-menu div {
            display: block;
            margin-bottom: 3px;
        }
        #toggle-img {
            min-width: 8px;
        }
        .is-published {
            width: 72px;
        }
        .not-published {
            width: 102px;
        }
        .btn {
            margin-right: 4px;
            height: 30px;
            padding: 5px 7px;
        }
    </style>
    <template>
        <custom-modal id="modal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <decision-engine-change hidden$="{{!applicationModalState(modalState, 'changing')}}" change-code="{{changeCode}}"></decision-engine-change>
                        <decision-engine-test hidden$="{{!applicationModalState(modalState, 'testing')}}" test-code="{{testCode}}" expression-info="{{testExpressionInfo}}"></decision-engine-test>
                        <decision-engine-save hidden$="{{!applicationModalState(modalState, 'saving')}}" editor-text="{{mirrorText}}" current-expression="{{currentExpression}}"></decision-engine-save>
                        <decision-engine-publish hidden$="{{!applicationModalState(modalState, 'publishing')}}" editor-text="{{mirrorText}}" current-expression="{{currentExpression}}"></decision-engine-publish>
                        <decision-engine-unpublish hidden$="{{!applicationModalState(modalState, 'unpublishing')}}" editor-text="{{mirrorText}}" current-expression="{{currentExpression}}"></decision-engine-unpublish>
                        <decision-engine-preview hidden$="{{!applicationModalState(modalState, 'previewing')}}" preview-code="{{previewCode}}"></decision-engine-preview>
                        <decision-engine-delete hidden$="{{!applicationModalState(modalState, 'deleting')}}" delete-code="{{deleteCode}}" current-expression="{{currentExpression}}"></decision-engine-delete>
                    </div>
                </div>
            </div>
        </custom-modal>
        <div class="container-fluid">
            <div class="row wrapper wrapper-content">
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title clearfix">
                            <span class="pull-left">
                                <span><h3 class="e-builder">Expression Builder</h3></span> - <span>{{currentExpressionName(currentExpression.status)}}</span>
                            </span>
                            <div class="pull-right">
                                <span class="btn btn-xs btn-primary" on-click="syntaxCodeMirror"><i class="fa fa-check"></i> Syntax</span>
                                <span class="btn btn-xs btn-primary" on-click="testCodeMirror"><i class="fa fa-play"></i> Test</span>
                                
                                <span class="btn-group">
                                    <span class="btn btn-xs btn-primary" hidden$="{{expressionIsPublished(currentExpression.status)}}" on-click="saveCodeMirror">
                                        <i class="fa fa-floppy-o"></i> Save
                                    </span>
                                    <span class="btn btn-xs btn-primary" hidden$="{{!expressionIsPublished(currentExpression.status)}}" on-click="publishCodeMirror">
                                        <i class="fa fa-upload"></i> Republish
                                    </span>
                                    <span class="btn btn-xs btn-primary" on-click="toggleSaveMenu">
                                        <i id="toggle-img" class="fa fa-angle-down"></i>
                                    </span>
                                </span>
                                <div id="save-menu" hidden$="{{!saveMenuShowing}}" class="animated fadeInDown">
                                    <div class="btn btn-xs btn-primary is-published" hidden$="{{expressionIsPublished(currentExpression.status)}}" on-click="publishCodeMirror">
                                        <i class="fa fa-upload"></i> Publish
                                    </div>
                                    <div class="btn btn-xs btn-primary not-published" hidden$="{{!expressionIsPublished(currentExpression.status)}}" on-click="unpublishCodeMirror">
                                        <i class="fa fa-download"></i> Unpublish
                                    </div>
                                </div>
                                
                                <span class="btn btn-xs btn-primary" on-click="createOrEdit"><i class="fa fa-plus"></i> New</span>
                            </div>
                            <div class="pull-right">
                                
                            </div>
                            
                        </div>
                        <div class="ibox-content">
                            <div>
                                <code-mirror id="mirror" mirror-text="{{mirrorText}}" dirty-mirror="{{dirtyMirror}}"></code-mirror>
                                <error-reporter hidden$="{{!showErrors}}" error-messages="{{errors}}" header-visible="{{showErrors}}" id="reporter"></error-reporter>
                                <div class="common" hidden$="{{!commonlyUsed}}">
                                    <template is="dom-repeat" items="{{commonlyUsed}}">
                                        <span>{{item}}</span>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sidebar">
                    <activity-list>
                        <alloy-activity id="catalog" title="Catalog" init-open="true" un-closeable>
                            <engine-catalog dirty-mirror="{{dirtyMirror}}"></engine-catalog>
                        </alloy-activity>
                    </activity-list>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub">
            <event-subscription event="decision-engine:confirmChange-expression" on-handle="createOrEdit"></event-subscription>
            <event-subscription event="decision-engine:set-expression" on-handle="setExpression"></event-subscription>
            <event-subscription event="decision-engine:delete-expression" on-handle="deleteExpression"></event-subscription>
            <event-subscription event="decision-engine:preview-expression" on-handle="previewExpression"></event-subscription>
            <event-subscription event="decision-engine:test-expression" on-handle="testCodeMirror"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "rules-view",
            testCodeMirror: function() {
                this.$.modal.showModal();
            },
            observers: [
                "toggleHighlightErrors(showErrors)",
            ],
            behaviors: [DecisionEngineBehavior],
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    self.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                // self.currentExpression = new self.Expression("useAdd", "1.0", "Something", "published");
                self.currentExpression = new self.Expression();
                self.saveMenuShowing = false;
                self.mirrorText = "";
                self.commonlyUsed = "";
                if (self.commonlyUsed) {
                    self.commonlyUsed = self.commonlyUsed.split(" ");
                }
                self.modalState = null;
                self.dirtyMirror = false;
                
                self.showErrors = false;
                self.errors = false;
                
                return function() {
                    self.$.modal.addEventListener("modal-hidden", function() {
                        self.modalState = null;
                    });
                    
                    // HTTP request for expression
                }
            },
            testCodeMirror: function(event) {
                var self = this;
                
                self.modalState = "testing";
                self.testCode = event.type === "handle" ? event.detail.code : self.mirrorText;
                self.testExpressionInfo = event.type === "handle" ? event.detail : self.currentExpression;
                
                self.$.modal.showModal();
            },
            saveCodeMirror: function() {
                this.modalState = "saving";
                this.$.modal.showModal();
            },
            createOrEdit: function(event) {
                if (this.dirtyMirror) {
                    this.modalState = "changing"
                    if (event.type === "click") {
                        this.changeCode = new this.Expression();
                    } else {
                        this.changeCode = event.detail
                    }
                    
                    this.$.modal.showModal();
                } else {
                    this.setExpression({detail: new this.Expression()});
                }
            },
            syntaxCodeMirror: function() {
                var self = this
                // Discuss area for error messages
                self.showErrors = false;
                self.errors = [];
                
                self.$.http.post("/catalog/syntax", {source: self.mirrorText}, window.config.services.decisionEngine,
                function() {
                    self.$.hub.publish("notification:show", { type: "success", message: "Everything looks good!" });
                },
                function(err) {
                    var errors = [];
                    console.log(JSON.parse(err.responseText).errors);
                    var err = JSON.parse(err.responseText).errors;
                    for (var i = 0; i < err.failures.length; i++) {
                        var failure = err.failures[i];
                        errors.push({
                           message: failure.failure, 
                           line: +failure.startPosition.line + 1 + "",
                           column: failure.endPosition.character
                        });
                    }
                    self.errors = errors;
                    self.showErrors = true;
                });
            },
            toggleHighlightErrors: function() {
                if (!this.errors) { return }
                console.log('toggling');
                if (this.showErrors) {
                    for (var i = 0; i < this.errors.length; i++) {
                        $(".CodeMirror-code > div:nth-of-type(" + this.errors[i].line + ")", this).addClass("line-error");
                    }
                    return;
                }
                for (var j = 0; j < this.errors.length; j++) {
                    $(".CodeMirror-code > div:nth-of-type(" + this.errors[j].line + ")", this).removeClass("line-error");
                }
            },
            publishCodeMirror: function() {
                this.modalState = "publishing";
                this.$.modal.showModal();
            },
            unpublishCodeMirror: function() {
                this.modalState = "unpublishing";
                this.$.modal.showModal();
            },
            toggleSaveMenu: function() {
                this.saveMenuShowing = !this.saveMenuShowing;
            },
            previewExpression: function(event) {                
                this.modalState = "previewing";
                this.previewCode = event.detail;
                
                this.$.modal.showModal();
            },
            deleteExpression: function(event) {
                this.modalState = "deleting"
                this.deleteCode = event.detail;
                this.$.modal.showModal();
            },
            // Application modalStates
            applicationModalState: function(modalState, elementModalState) {
                return modalState === elementModalState;
            },
            // Expression states
            expressionIsPublished: function() {
                return this.currentExpression.status && this.currentExpression.status.toLowerCase() === "published";
            },
            setExpression: function(event) {
                this.currentExpression = event.detail
                this.$.mirror.setMirrorText(this.currentExpression.source);
                this.errors = false;
                this.showErrors = false;
            },
            currentExpressionName: function(status) {
                if (status == null) {
                    return "New Expression";
                }
                return this.currentExpression.name + " " + this.currentExpression.version;
            }
        });
    </script>
</dom-module>