<link rel="import" href="/components/services/http/request.html">
<dom-module id="app-selector">
    <style>
    </style>
    <template>
        <div id="host"></div>
        <http-request id="http"></http-request>
    </template>
    <script src="app-selector.js"></script>
</dom-module>